//Colours should always only appear in this colours.scss
$black: #0a0a0a;
$border: #b2d2e4;
$white: #fff;
$nav: #37a9fa;
$gray: #a2a2a2;
$nav-hover:#0f56ac;
$blue-cramps:#116493;
$border-cramps: #e1e8e7;
$grey-nav:#f0f5f4;
$blue-border-hover:#caf8fc;
$blue-bac-hover:#e3fafc;
$green:#c3fbae;
$green-border-hover:#9fed7f;
$green-text:#637f51;
$blue-text:#116493;
$black:#444;
$grey-code:#676767;
$black-text:#2c2c2b;
$aside-text:#47677b;
$border-aside:#d5f5f8;
$orange:#fc6700;
$blueH2:#5290b5;
$grey-baner:#87abbf;
$footer-text:#4e868a;
